@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../../public/fonts/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text Thin";
  src: url("../../public/fonts/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Compact";
  src: url("../../public/fonts/SF-Compact-Text-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Compact Rounded";
  src: url("../../public/fonts/SF-Compact-Rounded-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}
