@import "./styles/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Poppins:ital,wght@0,600;1,200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* @apply bg-white dark:bg-zinc-950; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @apply bg-[#000000];
  font-family: "SF Pro Text", sans-serif;
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 300% 300%;
  animation: gradient-move 3s ease infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 2s infinite;
}

/* Adjust the grid as needed */
.grid-cols-20 {
  grid-template-columns: repeat(20, 1fr);
}

.grid-rows-10 {
  grid-template-rows: repeat(10, 1fr);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
